body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, #f4c542, #000);
    background-size: 200% 200%;
    animation: gradientAnimation 5s ease infinite;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #000;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 80px;
    height: auto;
    margin-left: 10px;
}

h1 {
    margin: 0;
    font-size: 2em;
    color: #f4c542;
    flex: 1;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.event-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.event-card {
    background-color: #000;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 300px;
    text-align: center;
    color: #f4c542;
    transition: transform 0.3s, box-shadow 0.3s;
}

.event-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

.event-card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.event-card p {
    margin: 5px 0;
}

button {
    background: none;
    border: 2px solid #f4c542;
    padding: 10px 20px;
    cursor: pointer;
    color: #f4c542;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #f4c542;
    color: #000;
    opacity: 0.8;
}

footer {
    background-color: #000;
    padding: 10px;
    text-align: center;
}

.back-button {
    background-color: #000;
    color: #f4c542;
    border: 2px solid #f4c542;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.back-button:hover {
    background-color: #f4c542;
    color: #000;
    opacity: 0.8;
}

footer p {
    margin: 10px 0 0;
    color: #fff;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}
