body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, #f4c542, #000); /* Emas dan Hitam */
    background-size: 200% 200%;
    animation: gradientAnimation 5s ease infinite; /* Animasi latar belakang */
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #000;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 80px; /* Ukuran logo yang lebih besar */
    height: auto;
    margin-left: 10px;
}

h1 {
    margin: 0;
    font-size: 2em;
    color: #f4c542; /* Emas */
    flex: 1; /* Agar judul memenuhi ruang tersisa */
}

main {
    flex: 1; /* Take up remaining space */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
}

.choices {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background-color: #f4c542; /* Emas */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 200px;
    text-align: center;
    color: #000;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

.card-title {
    font-size: 1.2em;
    margin-bottom: 10px;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #000;
    font-size: 1em;
}

button:hover {
    opacity: 0.8;
}

footer {
    background-color: #000;
    padding: 10px;
    text-align: center;
}

.back-button {
    background-color: #000; /* Latar belakang hitam */
    color: #f4c542; /* Warna teks emas */
    border: 2px solid #f4c542; /* Border emas untuk efek */
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.back-button:hover {
    background-color: #f4c542; /* Ubah latar belakang menjadi emas saat hover */
    color: #000; /* Ubah warna teks menjadi hitam saat hover */
    opacity: 0.8;
}

footer p {
    margin: 10px 0 0;
    color: #fff;
}

/* Animasi untuk latar belakang */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}
